@import "variables";
@import "mixins";

//Global styles

  * {
  	margin: 0;
  	padding: 0;
  	border: 0;
  }

  *:focus {
  	outline: 0;
  }

  html {
    height: 100%;
    min-width: 300px;
  }

  body {
  	font-family: myriad-pro, sans-serif;
    text-decoration-color: @color-primary;
    height: 100%;
    width: 100%;
  }

  button {
      background-color: @yellow;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500px;
      margin-bottom: 25px;
      border-radius: 100%;
      border-color: @gray;
      border-width: 6px;
  }

  .highlight {
      text-decoration-color: @red;
      text-transform: uppercase;
  }

  footer .container-fluid-order .container-fluid-dine {
    text-align: center;
  }

//Header
.container-fluid-header {
  height: 100px;
  background-color: @yellow;
  display: flex;
  justify-content: space-between;
}

.banner {
  background-color: @brown;
  opacity: 33%;
  width: 75%;
  height: auto;
}

ul li {
  list-style-type: none;
}

//sections

section {
  padding: 20px 0;

  article {
    padding: 20px;
  }

  h1 {
    font-size: 30px;
    color: @blue;
    font-weight: 400px;
    text-transform: uppercase;
  }
  h2 {
    color: @blue;
    display: inline-block;
    font-size: 30px;
    font-weight: 500px;
  }

  .container-fluid-order {
    background-image: url("img/banner-bg.png");
    }

  .container-fluid-best {
    background-color: white;
  }

  .container-fluid-dine {
    background-color: @gray;
  }

  img {
    width: 25%;
    height: auto;
    padding: 10px;
  }
}

//Footer
footer {
  height: 100px;
  background-color: @color-primary;
  text-align: center;
}
