@color-primary: 080801;

//colors
@gray: #f3f3f3;
@yellow: #f8df1f;
@red: #ee252f;
@blue: #050500;
@brown: #3b3838;    

//fonts
@import url('');
@roboto: 'Roboto', sans-serif;

//screens
@tablet: 768px;

